<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/products.css">

<body>

    <%- include('partials/header.ejs') %>

    <main>

        <h1>SALAS DE ENSAYO Y ENSAMBLE</h1>

        <section class="main-container">

            <div class="card-container">
            <% products.forEach(product => { %>           
                <a href="products/detail/<%= product.id%>">
                    <article class="card-article">
                        <h3 class="name"><%= product.name %> </h3>
                        <section class="card-price">
                            <p class="price">$ <%= product.price %></p>
                            <i class="fas fa-truck"></i>
                        </section>
                        <figure class="image">
                            <img src="images/<%= product.image%>" alt="imagen de producto">
                        </figure>
                    </article>
                </a>
            <% }) %>
            </div> 
        </section>

    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>