<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">

<body>

    <%- include('partials/header.ejs') %>

    <main>

        <h1>SALAS DE ENSAYO Y ENSAMBLE</h1>

        <section class="main-container">
        <h2>PRODUCTOS</h2>
        <a href="#"><h3>Ver todos los productos</h3></a>
        
        <div class="card-container">
        <% productos.forEach(producto => { %>           
            <a href="/productDetail">
                <article class="card-article">
                    <h4 class="descripcion"><%= producto.titulo %> </h4>
                    <img src="<%= producto.imagen %>" alt="producto"/>
                </article>
            </a>
        <% }) %>
        </div>  
        </section>

        <section class="main-container">
        <h2>RESERVAS</h2>
        <a href="#"><h3>Ver todas las Salas</h3></a>
        
        <div class="card-container">
            <% salas.forEach(sala => { %>  
            <a href="#">
                <article class="card-article">
                    <h4 class="descripcion"><%= sala.titulo %></h4>
                    <img src="<%= sala.imagen %>" alt="SalaDeEnsayo"/>
                </article>
            </a>
            <% }) %>
        </div>  
        </section>

    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>