<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detail.css">

<body>

    <%- include('partials/header.ejs') %>

    <main>
        <section class="higher">
                <p class="title"><%= product.name%></p>

            <section class="main-options-container">
                <section class="options-container--slider">
                    <article class="options-container--card">
                            <img class="options-card--img" src="/images/<%= product.image%>" alt="guitar"/>
                    </article>
                </section>
            </section>

            <section class="info">
                <article class="description-prin">
                    <p class="title2"><%= product.name%></p>
                    <section class="dates">
                        <p>$ <%= product.price%></p>
                        <p>Color: <%= product.colors%></p>
                    </section>
                </article>

                
                <section class="buttons">
                    <a href="#" class="button-buy">COMPRAR</a>
                    <a href="/edit/<%= product.id%>/" class="button-edit">EDITAR PRODUCTO</a>
                    <form action="/delete/<%= product.id%>" method="POST">
                        <button type="submit" class="button-delete">ELIMINAR</button>
                    </form>
                </section>
            </section>
        </section>
        <section class="lower">
            <section class="description-sec">
                <h1>Descripción</h1>
                <p>
                    <%= product.description%>
                </p>
            </section>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>