<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">

<body>

    <%- include('../partials/header.ejs') %>

    <main class="title">
        <h1>Editar usuario</h1>
        <form action="/editUser/<%= user.id%>?_method=PUT" method="POST" class="form-group">
            <div class="form-obj">
                <label for="email">Email</label>
                <input type="text" name="email" value="<%= user.email%>">
            </div>
            <div class="form-obj">
                <label for="firstName">Nombre</label>
                <input type="text" name="firstName" value="<%= user.firstName%>" required >
            </div>
            <div class="form-obj">
                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" value="<%= user.lastName%>" required>
            </div>
            <!-- <div class="form-obj">
                <label for="instrument">Instrumento</label>
                <select name="instrument" >
                    <option value=""><%= user.instrument%></option>
                    <option value="Bajo">Bajo</option>
                    <option value="Bateria">Bateria</option>
                    <option value="Guitarra">Guitarra</option>
                    <option value="Teclado">Teclado</option>
                    <option value="Voz">Voz</option>
                </select>
            </div> -->
            <div class="form-obj">
                <label for="category">Categoria</label>
                <select name="category">
                    <option value=""><%= user.category%></option>
                    <option value="Comprador">Comprador</option>
                    <option value="Vendedor">Vendedor</option>
                </select>
            </div>
            <div class="form-obj">
                <label for="password">Password</label>
                <input type="password" name="password" value="<%= user.password%>" required>
            </div>
            
            <div class="form-obj">
                <button type="submit" class="buttons"> Guardar </button>
            </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>